<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
</head>
<body>
    <div class="Notifications">
        <ul class="content">
            {% for i in data%}
                <li>{{i.body}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="login-container">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            
        {% else %}
            <form method="POST" action="{% url 'login'%}">
                    
                {% csrf_token %}
                <label>Username :</label>
                <input name="username" type="text" placeholder="Email.." required>
                <label>Password :</label>
                <input name="password" type="password" placeholder="Password.." required>
                <button type="submit">submit</button>
                {{error}}
            </form>
        {% endif %}
    </div>
    
</body>

<script type="text/javascript">
    var roomname="universal"

const web=new WebSocket(
    'ws://'
    +window.location.host
    +'/ws/'+
    roomname+
    '/'
    
);
web.onmessage=function(e){
    const data=JSON.parse(e.data)
    if (data.message){
        var obj=data.message
        obj=JSON.parse(obj)
        var payload=`<li>${obj.notification}</li>`
        document.querySelector('.content').insertAdjacentHTML("beforebegin",payload);
    }
}
        
</script>
</html>